<h1> Ello <%= current_user.first_name %> <%= current_user.last_name %></h1>

<h3> Sweet Stuff! </h3>

<div class="tabs">
  <a class="tab active" href="#">
    <h3>Games Selling</h3>
    <p>nice </p>
  </a>
  <a class="tab" href="#">
    <h3>Games Selling</h3>
    <p>sweet</p>
  </a>
  <a class="tab" href="#">
    <h3>Games Selling</h3>
    <p>Hey you</p>
  </a>

</div>

<div class="wrapper">
  <div class="container" style= "margin-top: 10px;" >
  <div class="row">

    <% current_user.product_offers.each do |product_offer| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://placehold.it/500x500')">
        <div class="card-category">Popular</div>
        <div class="card-description">
            <h2><%= product_offer.product.name %></h2>
            <p> Your selling it for <%= product_offer.price %></p>
          </div>
        <div class="card-user">
            <img src="images/papillard.jpeg" class="avatar">
          </div>
        <%= link_to '', {class: 'card-link'}%>
      </div>
    </div>
    <% end %>
    <!-- link_to 'Sell your game', new_user_product_offer_path, {class: 'btn btn-lg btn-warning'} -->
  </div>
</div>
</div>
