<div class="dark-text text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>So! You want to buy the game?</h1>
      <% @owner = User.find(@product_offer.user_id) %>
      <h3>Then tell <%= @owner.first_name %> where to send it!</h3>
    </div>
  </div>
  <div style="padding: 7px"></div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <%= simple_form_for [current_user, @transaction] do |t| %>
        <%= t.error_notification %>
        <%= t.input :return_address, value: @owner.address, as: :hidden %>
        <%= t.input :buyer_id, value: current_user.id, as: :hidden %>
        <%= t.input :product_offer_id, value: @product_offer.id, as: :hidden %>
        <%= t.input :delivery_address, placeholder: "123 Your Street, Lisbon" %>
        <%= t.button :submit, class: "btn btn-warning" %>
      <% end %>
    </div>
  </div>
</div>
