<div class = "container text-center">
  <h1>Sell a game!</h1>
</div>


<% if !@results.nil? && !@results.empty? %>
  <div class="row">
    <div class="col-xs-12">
      <div class="container text-center" style= "border-style: dashed;">
        <h3> Select a game from the list: </h3>
      </div>
    </div>
  </div>
  <div class="row">
    <% @results.each do |game| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://placehold.it/350x500')">
          <div class="card-category">Popular</div>
          <div class="card-description">
              <h2><%= game[:name] %></h2>
              <p><%= game[:release_date] %></p>
            </div>
          <%= link_to '', game, {class: 'card-link'}%>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class = 'form col-md-4 col-md-offset-4'>
      <%= render 'form' %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class = 'form col-md-4 col-md-offset-4'>
    <h3> Search for a game to add: </h3>
    <%= render 'form_search' %>
  </div>
</div>



