<div class="wrapper text-center">
  <h1>Games for Sale</h1>

  <!-- Warning to show if search doesnt find anything: -->
  <% if @products.blank? %>
    <h4>Sorry, there is currently no <%= params[:search] %> for sale.</h4>
  <% end %>
</div>

<div class="container">
  <div class="row">

    <% @products.each do |product| %>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="card" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http:<%= product[:cover_url] %>')">
        <div class="card-description">
            <h2><%= product.name %></h2>
            <p><%= product.release_year %></p>
          </div>
        <%= link_to '', product, {class: 'card-link'}%>
      </div>
    </div>
    <% end %>
    <!-- link_to 'Sell your game', new_user_product_offer_path, {class: 'btn btn-lg btn-warning'} -->
  </div>
</div>


