<h1><%= @product.name %></h1>
<h2><%= @product.release_year %></h2>
<p>Find me in app/views/products/show.html.erb</p>

<p>Description:</p>

<%= image_tag("http://placehold.it/350x500", :alt => "") %>

<div>
  <div class="offer-games"> <%@product.product_offers.each do |offer| %> </div>
  <div> <%= offer.price %></div>
  <div> <%= offer.location %></div>
  <div> <% end %></div>
</div>
