<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>NewGame+</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <div class="wrapper" id="header">
      <%= render 'layouts/navbar' %>
      <p class="alert"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <div class="wrapper" id="page-body">
      <%= yield %>
    </div>

    <div class="wrapper" id="footer">
      <%= render 'layouts/footer' %>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
